<head>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<div style="text-align:center;">
<h1>{{msg}}</h1>
</div>

<script>
  setTimeout(function () {
     // after 2 seconds
     window.location = "{{redirect_url}}";
  }, 2000);
</script>